
@{
    ViewData["Title"] = "CSSTestPage";
}

<h1>CSSTestPage</h1>
<div class="main_div">
    <div class="child1">
        <b>Title:</b><span>Samsung m20</span>
        <b>Price:</b><span>20000</span>
        <b>Description:</b><span>this is m series mobile</span>
        <a href="#" class="card">Add to card</a>
    </div>
    <div class="child2">
        <b>Title:</b><span>Samsung m17</span>
        <b>Price:</b><span>15000</span>
        <b>Description:</b><span>this is m series mobile</span>
        <a href="#" class="card">Add to card</a>
    </div>
</div>

